@media (max-width: 1200px) {
  .container {
    padding: 0 35px;
  }

  .content-info {
    flex-direction: column;
    &__item {
      max-width: initial;
  
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}

@media (max-width: $lg) {
  .main-inner {
    flex-direction: column;
  }
  .content {
    padding: 20px 0 0 0 ;
  }
  .sidebar {
    max-width: initial;
  }
  .footer {
    &-inner {
      flex-direction: column;
    }
    &__block {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    &-rigth__item {
      width: 100%;
    }
  }
  
}

@media (max-width: $md) {
  .header__contact {
    display: none;
  }
  .footer__block:not(:last-child) {
    padding-right: 25px;
  }
  .footer-left__list-item, .footer-center__list-item  {
    margin: 0 auto;
  }
  .footer-rigth__item:not(:last-child) {
    margin-bottom: 15px;
}
}

@media (max-width: $sm) {
  .container {
    padding: 0 15px;
  }
  .content-header {
    padding: 23px 20px 20px 20px;
    &__list {
      padding-left: 20px;
    }
  }
}